<!-- login page -->
<h1>Login</h1>
<form method="post" action="/auth/login">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password">
  </p>
  <p>
    <button type="submit" class="btn btn-warning btn-lg">Login</button>
  </p>
</form>

<p>New User? Register here <a href="/auth/register">Register</a></p>